{% extends "base.html" %}

{% block title %}CinePredict - Graphiques{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Dashboard</h1>
    <div class="row">
        <div class="d-flex flex-wrap justify-content-center">
            {% for graph in graphs %}
            <div class="card m-5 text-center" style="width: 18rem; display: flex; flex-direction: column;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/' + graph.image) }}"
                    alt="{{ graph.image }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{graph.title}}</h5>
                    <p class="card-text">{{graph.title}}</p>
                    <div class="mt-auto">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modal-{{ loop.index }}">
                            Détails
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-{{ loop.index }}" tabindex="-1"
                aria-labelledby="modalLabel-{{ loop.index }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel-{{ loop.index }}">{{ graph.title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ url_for('static', filename='images/' + graph.image) }}" class="img-fluid"
                                alt="{{ graph.image }}">
                            <p class="mt-3">{{ graph.details }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}